
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;

}
p{
    font-weight: 100;

}
h2{
    margin-top: 60px;
    font-size: 35pt;
    color: #5665C0;
    font-weight: 700;
}
h1{
    font-size: 25pt;
    font-weight: 900;
}
#box-cards{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}